@page "/"
@using CommunityToolkit.Maui.Storage;
@using CommunityToolkit.Mvvm.Messaging;
@using Expandroid.Models;
@using System.Text.Json;
@using System.Text;

@using YamlDotNet.Serialization;
@using YamlDotNet.Serialization.NamingConventions;
@using Expandroid.Services;
@inject Expandroid.Services.IDialogService dialogService
@inject ILocalizationService localizationService
@inject ICheckIfActivated acService
@inject IFileSaver fileSaver
@inject IFilePicker filePicker
@inject ISnackbar Snackbar
@implements IDisposable

@if (showWelcome)
{
    <MudAlert Severity="Severity.Info" Class="mb-4" OnClose="DismissWelcome">
        @localizationService.GetString("WelcomeMessage")
    </MudAlert>
}

<MudText Typo="Typo.h4" Align="Align.Center" class="mb-4">
    @localizationService.GetString("AppTitle")
</MudText>
<MudTabs class="mt-3" Elevation="0" Rounded="true" ApplyEffectsToContainer="true" PanelClass="pa-2">
    <MudTabPanel Text="@localizationService.GetString("TextExpanderTab")">
        @if (!canTextExpand)
        {
            <MudText class="mb-3">@localizationService.GetString("AccessibilityPermissionMessage")</MudText>
            <MudButton Color="Color.Primary" Variant="Variant.Outlined" @onclick="OpenSettings">@localizationService.GetString("ConsentAndOpenSettings")</MudButton>
        }
        else
        {
            <MudStack Row="true" Justify="Justify.Center" Spacing="2" Class="mb-4">
                <MudButtonGroup Variant="Variant.Outlined" Color="Color.Primary" Size="Size.Large">
                    <MudButton @onclick="SaveDictAsync" StartIcon="@Icons.Material.Filled.Save">
                        @localizationService.GetString("MakeSureToSave")
                    </MudButton>
                    <MudButton @onclick="ImportAsync" StartIcon="@Icons.Material.Filled.Upload">
                        @localizationService.GetString("Import")
                    </MudButton>
                    <MudButton @onclick="ExportAsync" StartIcon="@Icons.Material.Filled.Download">
                        @localizationService.GetString("Export")
                    </MudButton>
                </MudButtonGroup>
                <MudButton @onclick="ForceQuit" Color="Color.Error" Variant="Variant.Outlined" Size="Size.Large"
                           StartIcon="@Icons.Material.Filled.PowerSettingsNew">
                    @localizationService.GetString("ForceQuitApp")
                </MudButton>
            </MudStack>
            <MudText class="mb-3">@localizationService.GetString("Keywords")</MudText>
            <div class="d-flex">
                <MudTextField Lines="2" class="mr-1" @bind-Value="currentMatch.Trigger" Label="@localizationService.GetString("Key")" Variant="Variant.Outlined"></MudTextField>
                <MudTextField Lines="2" class="mr-1" @bind-Value="currentMatch.Replace" Label="@localizationService.GetString("Value")" Variant="Variant.Outlined"></MudTextField>
                <MudButton @onclick="AddItemAsync" Color="Color.Primary" Variant="Variant.Text">@localizationService.GetString("Add")</MudButton>
            </div>
            <MudPaper class="mt-2 pa-2">
                <MudStack Row="true" Justify="@Justify.SpaceBetween" Align="Align.Center" Class="mb-2">
                    <MudText Typo="Typo.subtitle2">@localizationService.GetString("Variables")</MudText>
                    <MudChip Color="Color.Secondary" Size="Size.Small">
                        @currentMatch.Vars.Count
                    </MudChip>
                </MudStack>
                @foreach (Var item in currentMatch.Vars)
                {
                    <MudStack Row="true" Justify="@Justify.SpaceBetween" Align="Align.Center" Class="mb-1" @key="item">
                        <MudText>@item.Name</MudText>
                        <MudIconButton @onclick="() => RemoveVar(item)" Icon="@Icons.Material.Filled.Delete" Color="Color.Error" Variant="Variant.Text" Size="Size.Large" />
                    </MudStack>
                }
            </MudPaper>
            <MudPaper class="mt-2">

                <div class="d-flex justify-center">
                    <MudCheckBox @bind-Value="currentMatch.Word" Label="@localizationService.GetString("Word")" />
                </div>
            </MudPaper>
            <MudExpansionPanels Elevation="0" class="mt-2">
                <MudExpansionPanel Text="@localizationService.GetString("Templates")" MaxHeight="1000">
                    <MudStack class="mt-1" Justify="@Justify.SpaceBetween" Row="true">
                        <MudText>@localizationService.GetString("DateToday")</MudText>
                        <MudButton @onclick="() => AddPreBuiltVar(0)" Color="Color.Primary" Variant="Variant.Outlined">@localizationService.GetString("AddVariable")</MudButton>
                    </MudStack>
                    <MudStack class="mt-1" Justify="@Justify.SpaceBetween" Row="true">
                        <MudText>@localizationService.GetString("DateYesterday")</MudText>
                        <MudButton @onclick="() => AddPreBuiltVar(1)" Color="Color.Primary" Variant="Variant.Outlined">@localizationService.GetString("AddVariable")</MudButton>
                    </MudStack>
                    <MudStack class="mt-1" Justify="@Justify.SpaceBetween" Row="true">
                        <MudText>@localizationService.GetString("DateTomorrow")</MudText>
                        <MudButton @onclick="() => AddPreBuiltVar(2)" Color="Color.Primary" Variant="Variant.Outlined">@localizationService.GetString("AddVariable")</MudButton>
                    </MudStack>
                    <MudStack class="mt-1" Justify="@Justify.SpaceBetween" Row="true">
                        <MudText>@localizationService.GetString("TimeNow")</MudText>
                        <MudButton @onclick="() => AddPreBuiltVar(3)" Color="Color.Primary" Variant="Variant.Outlined">@localizationService.GetString("AddVariable")</MudButton>
                    </MudStack>
                    <MudStack class="mt-1" Justify="@Justify.SpaceBetween" Row="true">
                        <MudText>@localizationService.GetString("AddSelectionCursor")</MudText>
                        <MudButton @onclick="() => AddPreBuiltVar(4)" Color="Color.Primary" Variant="Variant.Outlined">@localizationService.GetString("AddCursor")</MudButton>
                    </MudStack>
                </MudExpansionPanel>
            </MudExpansionPanels>
            <MudExpansionPanels Elevation="0" class="mt-2">
                <MudExpansionPanel Text="@localizationService.GetString("AdvancedOptions")" MaxHeight="1000">
                    <MudTextField @bind-Value="currentVar.Name" T="string" Label="@localizationService.GetString("VariableName")" />
                    <MudTextField @bind-Value="currentVar.Type" T="string" Label="@localizationService.GetString("VariableType")" />
                    <MudExpansionPanels Elevation="0">
                        <MudExpansionPanel class="mt-1" Text="@localizationService.GetString("Params")" MaxHeight="1000">
                            <MudTextField @bind-Value="currentVar.Params.Format" T="string" Label="@localizationService.GetString("Format")" />
                            <MudTextField @bind-Value="currentVar.Params.Echo" T="string" Label="@localizationService.GetString("Echo")" />
                            <MudTextField @bind-Value="currentVar.Params.Offset" T="long" Label="@localizationService.GetString("Offset")" />
                        </MudExpansionPanel>
                    </MudExpansionPanels>
                    <div class="d-flex justify-center">
                        <MudButton @onclick="AddCurrentVar" Color="Color.Primary" Variant="Variant.Outlined">@localizationService.GetString("AddVariable")</MudButton>
                    </div>
                </MudExpansionPanel>
            </MudExpansionPanels>
            <MudDivider class="mt-2" />
            @if (dict is not null)
            {
                @foreach (var item in dict.Take(dict.Count < lazyLoadIndex ? dict.Count : lazyLoadIndex))
                {
                    <MatchCard Item="item" OnEdit="() => EditItem(item)" OnDelete="async () => await RemoveItemAsync(item.Value)" @key="item.Key" />
                }
                @if (dict.Count > lazyLoadIndex)
                {
                    <div class="d-flex justify-center mt-3">
                        <MudButton @onclick="AdjustLazyLoad" Color="Color.Primary" Variant="Variant.Filled">
                            @localizationService.GetString("LoadMore")
                        </MudButton>
                    </div>
                }

            }
        }
    </MudTabPanel>
    <MudTabPanel Text="@localizationService.GetString("Tools")">
        <TextTools CanTextExpand="canTextExpand" />
    </MudTabPanel>
</MudTabs>

@code {
    bool canTextExpand = false;
    Match currentMatch = new() { Replace = "On my way", Trigger = "t:omw", Vars = new() { } };
    private Dictionary<string, Match> dict;
    private List<Var> globalVars = new();
    private Var currentVar = new() { Params = new() };
    private int lazyLoadIndex = 100;
    private bool showWelcome = !Preferences.Get("welcomed", false);
    private string editingKey = null;

    private void DismissWelcome()
    {
        showWelcome = false;
        Preferences.Set("welcomed", true);
    }



    private void AddPreBuiltVar(int i)
    {
        switch (i)
        {
            case 0:
                currentMatch.Vars.Add(new()
                    {
                        Name = "datenow",
                        Type = "date",
                        Params = new()
                        {
                            Format = "dd/MM/yyyy"
                        }
                    });
                currentMatch.Replace += " {{datenow}}";
                break;
            case 1:
                currentMatch.Vars.Add(new()
                    {
                        Name = "yesterday",
                        Type = "date",
                        Params = new()
                        {
                            Format = "dd/MM/yyyy",
                            Offset = -86400
                        }
                    });
                currentMatch.Replace += " {{yesterday}}";
                break;
            case 2:
                currentMatch.Vars.Add(new()
                    {
                        Name = "tommorow",
                        Type = "date",
                        Params = new()
                        {
                            Format = "dd/MM/yyyy",
                            Offset = 86400
                        }
                    });
                currentMatch.Replace += " {{tommorow}}";
                break;
            case 3:
                currentMatch.Vars.Add(new()
                    {
                        Name = "time",
                        Type = "date",
                        Params = new()
                        {
                            Format = "HH:mm",
                        }
                    });
                currentMatch.Replace += " {{time}}";
                break;
            case 4:
                currentMatch.Replace += " $|$";
                break;

        }
    }

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        localizationService.OnLanguageChanged += OnLanguageChanged;
        canTextExpand = acService.IsActivated();
        if (File.Exists(AppSettings.OldDictPath))
        {
            var stream = File.OpenRead(AppSettings.OldDictPath);
            dict = JsonSerializer.Deserialize<Dictionary<string, Match>>(stream);
            if (canTextExpand)
            {
                foreach (var item in dict)
                {
                    SendMessage("Add", item.Value);
                }
            }
            await stream.DisposeAsync();
            var backupFn = AppSettings.DictPath + ".oldbackup";
            File.Copy(AppSettings.OldDictPath, backupFn);
            await SaveDictAsync();
            if (File.Exists(backupFn))
            {
                File.Delete(AppSettings.OldDictPath);
                await dialogService.DisplayConfirmAsync(localizationService.GetString("MigratedSuccessfully"), localizationService.GetString("MigratedSuccessfullyMessage"));
            }
        }
        if (File.Exists(AppSettings.DictPath))
        {
            using var stream = File.OpenRead(AppSettings.DictPath);
            dict = JsonSerializer.Deserialize<Dictionary<string, Match>>(stream);
            if (canTextExpand)
            {
                foreach (var item in dict)
                {
                    SendMessage("Add", item.Value);
                }
            }
        }
        else
            dict = new();
        if (File.Exists(AppSettings.GlobalVarsPath))
        {
            using var stream = File.OpenRead(AppSettings.GlobalVarsPath);
            globalVars = JsonSerializer.Deserialize<List<Var>>(stream);
            if (canTextExpand)
            {
                WeakReferenceMessenger.Default.Send(new AcGlobalsMessage(globalVars));
            }
        }
    }
    private async Task ImportAsync()
    {
        try
        {
            if (await dialogService.DisplayConfirmAsync(localizationService.GetString("Warning"), localizationService.GetString("ImportWarningMessage"), localizationService.GetString("Proceed"), localizationService.GetString("Nevermind")))
            {
                int skips = 0;
                var skipDetails = new List<string>();
                DictWrapper localDict;
                string baseDir = null;
                if (await dialogService.DisplayConfirmAsync(localizationService.GetString("ChooseFormat"), localizationService.GetString("SelectYmlIfEspansoConfigFull"), "Json", "Yml"))
                {
                    var result = await FilePicker.PickAsync(new PickOptions
                        {
                            PickerTitle = localizationService.GetString("PickAConfigJsonFile")
                        });
                    using var strm = await result.OpenReadAsync();
                    localDict = await JsonSerializer.DeserializeAsync<DictWrapper>(strm);
                }
                else
                {
                    var result = await FilePicker.PickAsync(new PickOptions
                        {
                            PickerTitle = localizationService.GetString("PickAConfigYmlFile")
                        });
                    using var strm = await result.OpenReadAsync();
                    var deserializer = new DeserializerBuilder()
                        .WithNamingConvention(UnderscoredNamingConvention.Instance).IgnoreUnmatchedProperties()
                        .Build();
                    using TextReader tr = new StreamReader(strm);
                    localDict = deserializer.Deserialize<DictWrapper>(tr);
                    baseDir = Path.GetDirectoryName(result?.FullPath);
                }
                ProcessImport(localDict, baseDir, ref skips, skipDetails, isRoot: true);
                if (localDict.Global_vars is not null)
                {
                    globalVars.AddRange(localDict.Global_vars);
                    var str = JsonSerializer.Serialize(globalVars);
                    await File.WriteAllTextAsync(AppSettings.GlobalVarsPath, str);
                    WeakReferenceMessenger.Default.Send(new AcGlobalsMessage(globalVars));
                }
                await SaveDictAsync();
                var msg = string.Format(localizationService.GetString("ImportSuccessfulMessage"), skips);
                if (skipDetails.Count > 0)
                    msg += "\n" + string.Join("\n", skipDetails);
                await dialogService.DisplayConfirmAsync(localizationService.GetString("ImportSuccessful"), msg);
            }
        }
        catch (Exception e)
        {
            await dialogService.DisplayConfirmAsync(localizationService.GetString("Error"), localizationService.GetString("RestartAppToEnsureSync") + e.Message);
        }
    }

    private void ProcessImport(DictWrapper localDict, string baseDir, ref int skips, List<string> skipDetails, bool isRoot, int depth = 0)
    {
        if (depth > 5 || localDict?.Matches is null)
            return;

        foreach (var item in localDict.Matches)
        {
            if (item.Vars is not null)
            {
                bool notSupported = item.Replace is null;
                string skipReason = null;
                foreach (var x in item.Vars)
                {
                    if (x.Type is not null)
                    {
                        if (!AppSettings.SupportedList.Contains(x.Type))
                        {
                            skips++;
                            notSupported = true;
                            skipReason = $"{item.Trigger ?? "?"}: unsupported var type '{x.Type}'";
                            break;
                        }
                        else if (x.Type == "date")
                        {
                            try
                            {
                                x.Params.Format = Utils.GetTheRealFormat(x.Params.Format);
                            }
                            catch (Exception)
                            {
                                throw new Exception(localizationService.GetString("DateExtensionParameterFormatsError"));
                            }
                        }
                    }
                }
                if (notSupported)
                {
                    if (skipReason is not null)
                        skipDetails.Add(skipReason);
                    continue;
                }
            }
            // Expand triggers (multi-trigger) into separate entries
            if (item.Triggers is not null && item.Triggers.Count > 0)
            {
                foreach (var t in item.Triggers)
                {
                    var clone = new Match(item) { Trigger = t };
                    dict[t] = clone;
                    SendMessage("Add", clone);
                }
            }
            else if (!string.IsNullOrEmpty(item.Trigger))
            {
                dict[item.Trigger] = item;
                SendMessage("Add", item);
            }
            else if (!string.IsNullOrEmpty(item.Regex))
            {
                dict[$"__regex_{item.Regex}"] = item;
                SendMessage("Add", item);
            }
        }

        // Recursively resolve imports (YAML only, relative to baseDir)
        if (isRoot && localDict.Imports is not null && baseDir is not null)
        {
            foreach (var importPath in localDict.Imports)
            {
                try
                {
                    var fullPath = Path.Combine(baseDir, importPath);
                    if (File.Exists(fullPath))
                    {
                        var yamlText = File.ReadAllText(fullPath);
                        var deserializer = new DeserializerBuilder()
                            .WithNamingConvention(UnderscoredNamingConvention.Instance).IgnoreUnmatchedProperties()
                            .Build();
                        var imported = deserializer.Deserialize<DictWrapper>(yamlText);
                        ProcessImport(imported, Path.GetDirectoryName(fullPath), ref skips, skipDetails, isRoot: false, depth: depth + 1);
                    }
                }
                catch (Exception) { }
            }
        }
    }
    private async Task ExportAsync()
    {
        try
        {
            string text = null;
            string name = null;
            DictWrapper dictWrapper = new DictWrapper()
                {
                    Matches = new List<Match>(),
                    Global_vars = globalVars
                };
            foreach (var item in dict)
            {
                if (item.Value.Replace is not null)
                {
                    item.Value.Replace = item.Value.Replace.Replace("\\n", Environment.NewLine);
                    if (item.Value.Vars is not null)
                    {
                        foreach (var x in item.Value.Vars)
                        {
                            if (x.Type == "date")
                            {
                                x.Params.Format = Utils.GetOriginalFormat(x.Params.Format);
                            }
                        }
                    }

                }
                dictWrapper.Matches.Add(item.Value);
            }
            if (await dialogService.DisplayConfirmAsync(localizationService.GetString("ChooseFormat"), localizationService.GetString("SelectYmlIfEspansoConfig"), "Json", "Yml"))
            {
                text = JsonSerializer.Serialize(dictWrapper);
                name = "ttconfig.json";
            }
            else
            {
                var serializer = new SerializerBuilder()
                    .WithNamingConvention(UnderscoredNamingConvention.Instance)
                    .Build();
                text = serializer.Serialize(dictWrapper);
                text = "# yaml-language-server: $schema=https://raw.githubusercontent.com/espanso/espanso/master/schemas/match.schema.json\n" + text;
                name = "ttconfig.yml";
            }
            if (OperatingSystem.IsAndroidVersionAtLeast(33))
            {
                //string file = Path.Combine(FileSystem.CacheDirectory, name);
                //File.WriteAllText(file, text);
                //await Share.Default.RequestAsync(new ShareFileRequest
                //    {
                //        Title = "Share config file",
                //        File = new ShareFile(file)
                //    });
                acService.RequestPermission();
            }
            using MemoryStream strm = new(Encoding.UTF8.GetBytes(text));
            var fs = await fileSaver.SaveAsync(name, strm, CancellationToken.None);
            fs.EnsureSuccess();
            Snackbar.Add(localizationService.GetString("ExportSuccessfulMessage"), Severity.Success);
        }
        catch (Exception e)
        {
            await dialogService.DisplayConfirmAsync(localizationService.GetString("Error"), localizationService.GetString("RestartAppToEnsureSync") + e.Message);
        }
    }
    private void AddCurrentVar()
    {
        Var copy = new(currentVar) { Params = new(currentVar.Params) };
        if (!string.IsNullOrEmpty(copy.Params.Format))
        {
            copy.Params.Format = Utils.GetTheRealFormat(copy.Params.Format);
        }
        currentMatch.Vars.Add(copy);
    }
    private void RemoveVar(Var item)
    {
        currentMatch.Vars.Remove(item);
    }
    private async Task AddItemAsync()
    {
        try
        {
            var copy = new Match(currentMatch); // Otherwise the dic just uses the same memory LOL!
            if (!(string.IsNullOrEmpty(copy.Trigger) || string.IsNullOrEmpty(copy.Replace)))
            {
                if (editingKey is not null && editingKey != copy.Trigger && dict.ContainsKey(editingKey))
                {
                    var oldItem = dict[editingKey];
                    dict.Remove(editingKey);
                    SendMessage("Remove", oldItem);
                }
                dict[copy.Trigger] = new(copy); // need another copy :(
                copy.Replace = copy.Replace.Replace("\\n", Environment.NewLine);
                SendMessage("Add", copy);
                editingKey = null;
            }
            else
            {
                await dialogService.DisplayConfirmAsync(localizationService.GetString("EmptyValues"), localizationService.GetString("FillOutRequiredParameters"));
            }
        }
        catch (Exception e)
        {
            await dialogService.DisplayConfirmAsync(localizationService.GetString("Error"), localizationService.GetString("RestartAppToEnsureSync") + e.Message);
        }
    }
    private async Task RemoveItemAsync(Match item)
    {
        try
        {
            if (dict.Remove(item.Trigger, out var _))
            {
                SendMessage("Remove", item);
                Snackbar.Add(localizationService.GetString("DeletedItem"), Severity.Success);
            }
            else
            {
                await dialogService.DisplayConfirmAsync(localizationService.GetString("CouldNotDeleteItem"), localizationService.GetString("DeleteItemBugMessage") + item.Trigger);
            }
        }
        catch (Exception e)
        {
            await dialogService.DisplayConfirmAsync(localizationService.GetString("Error"), localizationService.GetString("RestartAppToEnsureSync") + e.Message);
        }
    }
    private async Task SaveDictAsync()
    {
        try
        {
            foreach (var item in dict)
            {
                if (item.Value.Replace is not null)
                {
                    item.Value.Replace = item.Value.Replace.Replace("\\n", Environment.NewLine);
                }
            }
            var str = JsonSerializer.Serialize(dict);
            await File.WriteAllTextAsync(AppSettings.DictPath, str);
            Snackbar.Add(localizationService.GetString("SaveSuccessfulMessage"), Severity.Success);
        }
        catch (Exception e)
        {
            await dialogService.DisplayConfirmAsync(localizationService.GetString("Error"), e.Message);
        }
    }

    private void SendMessage(string cmd, Match value)
    {
        WeakReferenceMessenger.Default.Send(new AcServiceMessage((cmd, value)));
    }
    private async Task OpenSettings()
    {
        try
        {
            if (await dialogService.DisplayConfirmAsync(localizationService.GetString("NeedConsent"), localizationService.GetString("GiveConsentMessage"), localizationService.GetString("IGiveConsent"), localizationService.GetString("Nevermind")))
            {
                acService.OpenSettings();
                ForceQuit();
            }
        }
        catch (Exception e)
        {
            await dialogService.DisplayConfirmAsync(localizationService.GetString("Error"), e.Message);
        }
    }
    private void ForceQuit()
    {
        WeakReferenceMessenger.Default.Send(new AcServiceMessage(("Quit", null)));
        Application.Current.Quit();
    }

    private void EditItem(KeyValuePair<string, Match> item)
    {
        editingKey = item.Key;
        currentMatch.Trigger = item.Value.Trigger;
        currentMatch.Replace = item.Value.Replace;
        if (item.Value.Vars is not null)
        {
            currentMatch.Vars = item.Value.Vars.Select(v => new Var(v)).ToList();
        }
        StateHasChanged();
    }
    private void AdjustLazyLoad()
    {
        var diff = dict.Count - lazyLoadIndex;
        if (diff > 100)
        {
            lazyLoadIndex += 100;
        }
        else
        {
            lazyLoadIndex += diff;
        }
    }

    private void OnLanguageChanged()
    {
        StateHasChanged();
    }

    public void Dispose()
    {
        localizationService.OnLanguageChanged -= OnLanguageChanged;
    }
}

